<template name="notifications">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		알림
		{{#if notificationCount}}
			<span class="badge badge-inverse">{{notificationCount}}</span>
		{{/if}}
		<b class="caret"></b>
	</a>
	<ul class="notification dropdown-menu">
		{{#if notificationCount}}
			{{#each notifications}}
				{{> notificationItem}}
			{{/each}}
		{{else}}
			<li><span>알림이 발생하면 여기에 나타납니다.</span></li>
		{{/if}}
	</ul>
</template>

<template name="notificationItem">
	<li>
		<a href="{{notificationPostPath}}"><strong>{{commenterName}}</strong></a>
	</li>
</template>